
<article id="account" class="container">
    <section class="row">
        <div class="span3 sidebar">
            <ul class="nav nav-list">
                <li><a ng-click="logout()">Log Out</a></li>
                <li><a><span class="muted" ng-click="deleteAccount()">Delete Account</span></a></li>
            </ul>
        </div>
        <div class="span9">
            <article class="box">
                <h2>My Account</h2>
                <p>You are logged in from {{auth.provider}} as <code>{{auth.name}}</code></p>
            </article>
        </div>
    </section>
</article>
