<div id="hearth" class="container" ng-class="{loading:loading,noFeeds:!loading && noFeeds,noArticles:noVisibleArticles(),isDemo:isDemo}">
    <div class="row">
        <!-- CONTROLS FOR SELECTING FEEDS TO DISPLAY -->
        <section class="span3 sidebar">

            <form id="searchbox">
                <div class="input-append">
                    <input type="text" class="input-block-level" ng-model="articleFilter" ng-disabled="noFeeds" placeholder="Filter articles...">
                    <button ng-disabled="!articleFilter" class="btn" ng-click="articleFilter=null"><i class="icon-search"></i></button>
                </div>
            </form>

            <div id="addFeeds" class="btn-group" ng-cloak ng-hide="isDemo">
                <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus pull-right"></i>Add Feed...</a>
                <ul class="dropdown-menu">
                    <li><a ng-click="openFeedBuilder()">Custom Feed</a></li>
                    <li class="divider"></li>
                    <!--<li><input ng-model="feedChoiceFilter" placeholder="filter" /></li>-->
                    <li ng-repeat="feed in feedChoices | filter:feedChoiceFilter | orderBy:feed.title"><a title="{{feed.description}}" ng-click="addFeed(feed.$id)">{{feed.title}}</a></li>
                </ul>
            </div>

            <ul id="filters" class="nav nav-list" ng-cloak ng-hide="noFeeds">
                <li class="all" ng-class="{active:showAllFeeds()}">
                    <aside ng-hide="articles.length === 0">
                        <a title="Mark all articles an read" ng-click="markAllFeedsRead($event)"><i class="icon-ok"></i></a>
                    </aside>
                    <a href="#{{link}}"><i class="icon-bullseye"></i><i class="icon-circle"></i> All {{isDemo? 'Demo ' : ''}}Feeds</a>
                </li>
                <li ng-repeat="feed in feeds | orderBy:title" ng-class="{active:isActive(feed.id)}">
                    <aside>
                        <a ng-click="markFeedRead(feed.id, $event)" ng-show="counts[feed.id] > 0" title="Mark articles for this feed as read"><i class="icon-ok"></i></a>
                        <a ng-click="removeFeed(feed.id, $event)" title="Remove this feed forever"><i class="icon-remove-sign"></i></a>
                    </aside>
                    <a href="#{{link}}?feed={{feed.id}}" title="{{feed.title}}"><i class="icon-circle-blank"></i><i class="icon-circle"></i> {{feed.title}}<span> ({{counts[feed.id]||0}})</span></a>
                </li>
            </ul>

            <label class="checkbox" ng-cloak ng-hide="noFeeds">
                <input type="checkbox" ng-model="sortDesc" /> newest first
            </label>
        </section>

        <section class="span9">
            <!-- THE ABOUT TEXT -->
            <article class="box" ng-cloak ng-show="showAbout" id="about">
                <a data-dismiss="box" ng-click="dismissAbout()"><i class="icon-remove"></i></a>
                <h2 style="text-align:center;">A real-time RSS feed reader</h2>
                <p style="font-size:1.4em;text-align:center;"><b>
                    Built with <a href="http://angularjs.org/"><img style="vertical-align:middle;" src="img/angular.png"/></a> &amp; <a href="https://www.firebase.com"><img style="vertical-align:middle;" src="img/firebase.png"/></a>
                </b></p>
                <p>
                    Firereader is a technical demonstration of how to use <a href="http://angularjs.org">AngularJS</a> together with <a href="https://www.firebase.com">Firebase</a>. It is intended as a sample of how to use the two technologies together.
                </p>
                <p>
                    You can use it as your feed reader too, but it won't be as full featured as other alternatives. Currently you can create an account and manage a list of custom feeds. Feeds are updated in near real-time.
                </p>
                <p>
                    <a href="https://github.com/firebase/firereader">Fork Firereader on GitHub</a> to build your own Angular + Firebase apps, or send pull requests to add functionality!
                </p>
                <p style="text-align:center;" ng-cloak ng-hide="auth.authenticated"><a href="#hearth" class="btn btn-warning">Customize Your Feeds</a></p>
            </article>

            <!-- THE FEED GRID LISTING ARTICLES -->
            <div id="feeds">
                <!-- a hint for the first visit -->
                <h3 class="start" ng-cloak><i class="icon-chevron-sign-left"></i> Get started by adding some feeds!</h3>

                <!-- a loading icon -->
                <i class="icon-cog icon-spin icon-large"></i>

                <!-- a happy reward for reading everything -->
                <h3 class="done">You read everything<i class="icon-smile"></i></h3>

                <!-- the articles -->
                <article ng-animate="'animate'" ng-repeat="article in articles | orderBy:orderMethod | filter:filterMethod" ng-click="openArticle(article)" id="{{article.$id}}">
                    <h2 title="{{article.title}}">{{article.title}}</h2>
                    <div ng-bind-html="article.summary"></div>
                    <p>&nbsp;</p>
                    <footer><a class="pull-right" ng-hide="isDemo" ng-click="markArticleRead(article, $event)" title="Mark this article read"><i class="icon-ok"></i></a><p>{{feedName(article)}}<br />{{article.date | date:'short'}}</p></footer>
                </article>
            </div>
        </section>
    </div>

</div>

<div class="modal hide" modal="isOpen" close="closed()" options="opts" ng-controller="ArticleCtrl">
    <div class="modal-footer">
        <ul class="inline pull-right">
            <li class="divider"></li>
            <li><a target="_BLANK" href="{{article.link}}" title="Visit original web page"><i class="icon-external-link"></i></a></li>
            <li class="divider"></li>
            <li><a ng-click="open(prev)" title="Previous article"><i class="icon-chevron-left"></i></a></li>
            <li><a ng-click="open(next)" title="Next article"><i class="icon-chevron-right"></i></a></li>
            <li class="divider"></li>
            <li><a ng-click="close(article.$id)" title="Next article"><i class="icon-remove"></i></a></li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="modal-header"><h3>{{article.title}}</h3></div>
    <div class="modal-body" ng-bind-html="article.description"></div>
</div>

<div class="modal hide" modal="isOpen" ng-controller="CustomFeedCtrl">
    <div class="modal-header"><h3><a class="pull-right" data-toggle="modal" ng-click="close()"><i class="icon-remove"></i></a>Create a Feed</h3></div>
    <div class="modal-body">
        <form novalidate>
            <fieldset>
                <label>Name the Feed</label>
                <input class="input-large" type="text" ng-model="title" required placeholder="Ryan's blog…">
                <label>URL for XML Stream</label>
                <input class="input-xxlarge" type="url" ng-model="url" required placeholder="http://.../rss.xml">

                <p>
                    <button type="submit" class="btn btn-info" ng-click="add($event)">Create</button>
                    <button disabled class="btn">Create</button>
                </p>
            </fieldset>
        </form>
    </div>
</div>